# Future Corn Yields

## Packages

In [1]:
import numpy as np
import xarray as xr
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import dask
import os
import glob
import geopandas as gpd
import xagg as xa

## Functions

## Future Projections Using Historical Parameters

### Inputs

In [2]:
csv_output_file = f"/storage/home/cta5244/work/pyWBM_yield_data/pyWBM_dday/"
# arbritrary path looks like /storage/home/cta5244/work/pyWBM_yield_data/pyWBM_dday/ACCESS-CM2_r1i1p1f1_ssp245_VIC_kge_2015-2044_ddaysm.csv 
all_patterns = sorted(glob.glob(f"{csv_output_file}*_ssp245_VIC_kge_2015-2044_ddaysm.csv"))

In [5]:
single_model = pd.read_csv(all_patterns[0])
single_model['fips'] = single_model['fips'].astype(str).str.zfill(5)
single_model['state'] = single_model['fips'].astype(str).str.slice(0, 2)
single_model = single_model.set_index('fips')

In [42]:
single_model.loc['17133'][key_i].values

array(['17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17',
       '17', '17', '17', '17', '17', '17', '17', '17', '17', '17', '17',
       '17', '17', '17', '17', '17', '17', '17'], dtype=object)

In [6]:
single_model

,year,poly_idx,SoilM_0_100cm,gdd,edd_plus75,edd_plus25_75,edd_minus25_plus25,edd_minus25_75,edd_minus75,state
fips,,,,,,,,,,
21007,2016,0,295.789445,2352.495555,0.000000,3.719260,12.882583,24.408794,124.887708,21
21007,2017,0,326.659627,2238.123809,0.059539,17.607112,28.425080,94.899447,13.675822,21
21007,2018,0,332.924150,2241.675396,0.066412,12.594341,40.180349,50.708049,32.103923,21
21007,2019,0,336.041617,2116.851901,0.000000,3.092228,22.209355,50.115345,4.206199,21
21007,2020,0,314.042636,2228.841121,0.000000,3.010315,16.921725,44.932688,113.246000,21
...,...,...,...,...,...,...,...,...,...,...
26139,2040,3107,216.478079,1808.170879,0.000000,0.130695,5.282927,5.320343,23.981054,26
26139,2041,3107,234.120499,1858.701465,0.000000,1.007819,4.868335,7.756177,28.177278,26
26139,2042,3107,227.903141,1735.575181,0.000000,0.009170,3.673324,14.997551,30.231908,26
26139,2043,3107,215.209756,1914.748792,0.000000,0.011651,2.365368,4.031382,43.917018,26
26139,2044,3107,224.254265,1785.616630,0.000000,1.472539,1.574942,7.896958,36.771447,26